#app {
  .main-container {
    width: 100%;
    min-height: 100%;
    transition: margin-left 0.28s;
    position: relative;
  }

  .sidebar-container {
    flex-shrink: 0;
    // -webkit-transition: width .28s;
    // transition: width .28s;
    // width: 200px !important;
    background-color: $base-menu-background;
    // height: 100%;
    // position: fixed;
    // font-size: 0;
    // top: 0;
    // bottom: 0;
    // left: 0;
    z-index: 2;
    // overflow: hidden;
    -webkit-box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
    box-shadow: 2px 0 6px rgb(0 21 41 / 35%);

    .svg-icon {
      margin-right: 16px;
    }
  }

  // reset element-ui css
  .el-menu {
    background-color: $base-menu-background;
    border-right: none;
  }

  .el-sub-menu__title {
    background-color: rgb(84, 92, 100, 0) !important;
  }
}
