#app {
  .main-container {
    width: 100%;
    min-height: 100%;
    position: relative;
  }
  .sidebar-container {
    flex-shrink: 0;
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
    width: 200px;
    background-color: $base-menu-background;
    // position: fixed;
    // font-size: 0;
    // top: 0;
    // bottom: 0;
    // left: 0;
    z-index: 2;
    overflow: hidden;
    -webkit-box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
    box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
    .el-icon {
      margin-right: 15px;
    }
    .svg-icon {
      width: 20px;
      height: 20px;
    }
    .el-menu--collapse {
      width: 64px;
      .el-icon {
        margin-right: 0;
      }
    }
  }

  // reset element-ui css
  .el-menu {
    background-color: $base-menu-background;
    border-right: none;
  }

  .el-sub-menu__title {
    background-color: rgb(84, 92, 100, 0) !important;
  }
}
